openpyxl == 3.*
beautifulsoup4 == 4.*
requests == 2.31.0
requests-html == 0.10.0
lxml == 5.1.0
cchardet == 2.1.7
aiohttp == 3.9.1
tqdm == 4.66.1
pandas == 2.2.0
pdfquery == 0.4.3
python-docx == 1.1.2
pdf2docx == 0.5.8
selenium == 4.23.1